.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.detail-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.detail-card h2 {
  margin-bottom: 10px;
}

/* price */
.price {
  font-size: 22px;
  font-weight: bold;
  color: #5b3df5;
}

/* stock */
.stock {
  margin: 10px 0;
  font-weight: bold;
}

.in {
  color: green;
}

.out {
  color: red;
}

/* info */
.info {
  margin: 15px 0;
  text-align: left;
}

/* buttons */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.actions button {
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.edit {
  background: #ffa500;
  color: white;
}

.back {
  background: #5b3df5;
  color: white;
}

.detail-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 15px;
}